@import 'variables';

nav {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .categories {
    position: relative;
    cursor: pointer;
    &::before {
      content: '⌃';
      position: absolute;
      right: -1rem;
      top: 0;
      text-align: center;
      text-justify: center;
      // transform: translateY(-100%);
      // line-height: -1px;
      transform: rotate(180deg);
      transform-origin: center;
    }
    &:hover {
      &::before {
        transform: rotate(0deg);
        top: 20%;
      }
    }
    .dropdown-menu {
      cursor: default;
      visibility: hidden;
      box-sizing: border-box;
      position: absolute;
      display: flex;
      right: -1rem;
      top: 178%;
      padding: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $grey;
      a {
        text-decoration: none;
      }
      a:hover {
        color: white;
      }
      &::after {
        content: '';
        position: absolute;
        top: -2rem;
        right: 0;
        width: 7rem;
        height: 2rem;
      }
    }
    &:hover {
      .dropdown-menu {
        visibility: visible;
      }
    }
  }
}
