@import 'variables';

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  a {
    list-style: none;
    background-color: white;
    box-sizing: border-box;
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    text-decoration: none;
    // border: 1px solid black;
    box-shadow: #00000023 0 0 20px;
    li {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .product-title {
      width: 100%;
      margin: 0;
      h2 {
        font-weight: 300;
      }
      h3 {
        font-weight: 200;
      }
    }
    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
    }
  }
}
.empty-category {
  p,
  a {
    font-size: 1.4rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
}
